/* assets/css/custom.css */
/* Increase main content width */
@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 1200px;  /* Default is usually 800px */
  }
}

iframe, img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}